<div class="app-container">
	<div class="header">
		<h1>{{title}}</h1>
	</div>
    <div class="demo-container">
		<app-demo-audio-device
			*ngFor="let device of audioDevices"
			[device]="device">
		</app-demo-audio-device>

		<div class="cable-layer">
			<app-connection-cable
				*ngFor="let cable of cables"
				[startPoint]="cable.startPoint"
				[endPoint]="cable.endPoint"
				[cableColor]="cable.color">
			</app-connection-cable>
		</div>

		<!-- Cable cursor -->
		<app-cable-cursor
			*ngIf="cablingConnection"
			[connection]="cablingConnection">
		</app-cable-cursor>
    </div>
</div>